version: '3.7'

services:
    app:
        build: ./app
#        image: hadassch/app:latest
        expose:
            - 5000
        ports:
            - 5000:5000
        #command: python app.py run -h 0.0.0.0
        volumes:
          - ./app/:/usr/src/app/
        environment:
            - FLASK_ENV=development
            - FLASK_APP=app.py
            - FLASK_DEBUG=1
            - FLASK_RUN_CERT=cert.pem
            - FLASK_RUN_KEY=key.pem
        #mem_limit: 100000000000
        deploy:
            resources:
                limits:
                    memory: 3GB
                reservations:
                    memory: 100MB
    react_frontend:
        build: ./react_frontend
 #       image: hadassch/frontend:latest
        stdin_open: true
        expose:
            - 3000
        ports:
            - '80:3000'
#        environment:
#            - HTTPS=true
#            - SSL_CRT_FILE=cert.pem
#            - SSL_KEY_FILE=key.pem
#        volumes:
#        environment:
#          - NODE_ENV=development
        links:
          - app