{% extends "base.html" %}

{% block content %}
    <title>CytoMod short Explanation</title>
    <h1 style="color: #5e9ca0;">The method</h1>
<form action="/upload" method="get">
    <p style="color: #0B7478">Since analyzing large amount of cytokines reqiures multiple hypothsises, which under takes the statistical power of the analysis, Cohen et al developed a computational approach, names CytoMod, for analyzing and identifing cytokines modules with statistical efficiancy (Cohen et al., 2019)</p>
    <p style="color: #0B7478">The method is composed from two parallel pipelines, containing several identical stages but on different data appearance - absolute values and adjusted values of cytokines concentrations. The motivation for also using the adjusted values is to discover hidden relationships by disabling the noise of the whole immune system’s reaction (which is typically high while dealing with “attackers”). </p>
    <p style="color: #0B7478">Here by a summary of the approach:</p>
    <p style="color: #0B7478">Step 1: Adjust the cytokines concentrations in order to isolate their relative concentration.
                    The adjustment first step is to create a vector of cytokines mean concertation for each subject (sample).
                    Then, a regression model is calculated for each cytokine using this mean vector: cytokine_j=β0j+ β1j*Mean+εj.
                    The adjustment created a cytokine_j_Adjusted by subtracting the predicted value (regression outcome) from the true value (sample value).
                    This step was proven as sufficient. This step is relevant only for the pipeline dealing with the adjusted value of cytokines.</p>
    <p style="color: #0B7478">Step 2: Preform Complete-linkage agglomerative hierarchical clustering based on the cytokines pairwise correlations (the distance metric) for creating cytokines modules.
                    The algorithm iteratively groups cytokines that possess similar patterns and presents the result in a dendrogram, obtaining the hierarchical sub-groups and the data distribution.
                    The similarity matrix is calculated separately for each compartment in each dataset and is performed over cytokines, to identify cross-subjects cytokine modules.
                    Due to sensitivity issues, the algorithm is applied along with bootstrapping mechanism (1000 repetitions of the clustering procedure with different subsets of the same data), which counts the number of times that each pair of cytokines were clustered in the same group.
                    Therefore, the final clustering is performed on this matrix.
                    This procedure created cytokines modules. Finally, a subject-specific score is calculated as the mean value of all cytokines in the same model (after standardization).</p>
    <p style="color: #0B7478">Step 3: Assess associations between modules to the clinical phenotypes – after standardization of the data, the first step was to perform a logistic regression (for binary outcomes) and linear regression (for continues outcomes).
                    The regression was enrolled over all modules created in the previous step. For each dataset, compartment and cytokines expressions (adjusted/absolute), the coefficients describing the associations between individual cytokines/cytokine modules to the symptom scores are separate from each other and pronounced using two adjusted p-value - false-discovery rate (FDR, Benjamini Hochberg procedure, significant when q ≤ 0.2) and Family-wise error rate (FWER, Bonferroni-Holm method, more stringent, significant when p ≤ 0.05). Both are fitted to handle multiple hypothesis tests.</p>
    <p style="color: #0B7478">In addition, to find cytokines general cores you can enroll the method on several datasets.</p>
    <p> to continue please press the button</p><br>
      <input type="submit" name="value" value="Continue">
      <br>
</form>
{% endblock %}