{% extends "base.html" %}

{% block content %}
    <title>Upload Files</title>
    <h1 style="color: #5e9ca0;">Upload your data</h1>
    <p style="color: #2e6c80;">Please upload 2 excel files:
        one for the cytokins raw data and the other one for the patients data
    </p>
    <form method=post enctype=multipart/form-data>
         <p style="color: #2e6c80;">Cytokines data: </p>
         <input type = "file" name = "cytokines" />
         <p style="color: #2e6c80;">Patients data: </p>
          <input type = "file" name = "patients" />
         <input type = "submit" value="Upload"/>
      </form>
{% endblock %}cy