{% extends "base.html" %}

{% block content %}
    <title>Upload Files</title>
    <h1 style="color: #5e9ca0;">Upload your data</h1>
    <p style="color: #2e6c80;">Please upload 2 excel files:
        one for the cytokins raw data and the other one for the patients data
    </p>
    <form method=post enctype=multipart/form-data>
         <input type = "file" name = "file1" />
          <input type = "file" name = "file2" />
         <input type = "submit" value="Upload"/>
      </form>
{% endblock %}